---
version: '3'

services:
  dm-store:
    image: hmctspublic.azurecr.io/dm/store:latest
    environment:
      SERVER_PORT: 4603
      IDAM_SUPERUSER_EMAIL:
      IDAM_SECRET_KEY: AAAAAAAAAAAAAAAA
      GOV_NOTIFY_API_KEY:
      SPRING_DATASOURCE_URL: jdbc:postgresql://host.docker.internal:6432/evidence
      SPRING_DATASOURCE_USERNAME: "postgres"
      SPRING_DATASOURCE_PASSWORD: "postgres"
      ENABLE_AZURE_STORAGE_CONTAINER: "true"
      ENABLE_POSTGRES_BLOB_STORAGE: "false"
      STORAGEACCOUNT_PRIMARY_CONNECTION_STRING: "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azure-storage-emulator-azurite:10000/devstoreaccount1"
      STORAGE_CONTAINER_DOCUMENT_CONTAINER_NAME: "hmctstestcontainer"
      SPRING_PROFILES_ACTIVE: dev
      IDAM_TESTING_SUPPORT_ENABLED: "true"
      LOGGING_LEVEL_UK_GOV_HMCTS_IDAM: WARN
      IDAM_USER_BASE_URI: http://localhost:5062
      IDAM_S2S_BASE_URI: http://host.docker.internal:8489
      S2S_NAMES_WHITELIST: em_gw,em_npa_app,em_ccd_orchestrator,ccd,document-management-store,ccd_gw,idam-api,em_stitching_api,ccd_data,dg_docassembly_api,xui_webapp,ccd_case_document_am_api
      http_proxy:
      https_proxy:
      no_proxy:
      REFORM_SERVICE_TYPE: java
      REFORM_SERVICE_NAME: document-management-store
      REFORM_TEAM: ccd
      REFORM_ENVIRONMENT: docker
      PACKAGES_ENVIRONMENT: docker
      PACKAGES_PROJECT: evidence
      PACKAGES_NAME: document-management-store
      PACKAGES_VERSION: unknown
      ENABLE_DB_MIGRATE: "true"
    ports:
      - "4603:4603"
  azure-storage-emulator-azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    ports:
      - 10000:10000
    command: "azurite-blob --blobHost 0.0.0.0 --loose"
    volumes:
      - dm-store-docker-azure-blob-data:/opt/azurite/folder
volumes:
  pacts:
  dm-store-docker-azure-blob-data:
