java:
  image: ${IMAGE_NAME}
  devmemoryLimits: '2048Mi'
  ingressHost: ${SERVICE_FQDN}
  environment:
    ENABLE_LIQUIBASE: true
    SPRING_DATASOURCE_URL: jdbc:postgresql://{{ .Release.Name }}-{{ .Values.postgresql.nameOverride}}:5432/postgres?ssl=disable
    SPRING_DATASOURCE_USERNAME: "{{ .Values.postgresql.postgresqlUsername}}"
    SPRING_DATASOURCE_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"
  postgresql:
    enabled: true
