java:
  image: ${IMAGE_NAME}
  disableKeyVaults: true
  devmemoryLimits: '2048Mi'
  ingressHost: ${SERVICE_FQDN}
#  keyVaults:
#    em-npa:
#      secrets:
#        - name: microservicekey-em-npa-app
#          alias: S2S_KEY
  readinessDelay: 45
  environment:
    SPRING_DATASOURCE_HOST: "{{ .Release.Name }}-postgresql"
    SPRING_DATASOURCE_NAME: "{{ .Values.postgresql.auth.database}}"
    SPRING_DATASOURCE_USERNAME: "{{ .Values.postgresql.auth.username}}"
    SPRING_DATASOURCE_PASSWORD: "{{ .Values.postgresql.auth.password}}"
    SPRING_DATASOURCE_OPTIONS: "?ssl=disable"
    RUN_DB_MIGRATION_ON_STARTUP: true
  postgresql:
    enabled: true
