java:
  image: ${IMAGE_NAME}
  devmemoryLimits: '2048Mi'
  ingressHost: ${SERVICE_FQDN}
  keyVaults:
    em-npa:
      secrets:
        - name: microservicekey-em-npa-app
          alias: S2S_KEY
  environment:
    SPRING_DATASOURCE_URL: jdbc:postgresql://{{ .Release.Name }}-{{ .Values.postgresql.nameOverride}}:5432/postgres?ssl=disable
    SPRING_DATASOURCE_USERNAME: "{{ .Values.postgresql.postgresqlUsername}}"
    SPRING_DATASOURCE_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"
    RUN_DB_MIGRATION_ON_STARTUP: true
  postgresql:
    enabled: true
    auth:
      username: emnpa
      password: emnpa